html, body {
    height: 100%;
    background-color: cornflowerblue;
}
#yes {
    margin-bottom: 5px;
}


h1 {
    color: black;
    position: relative;
   text-align: center;


}
.container {
    position: relative;
    top: 30%;
    transform: translateY(-100%);
    text-align: center;
}
.movieList{
    position: relative;
    text-align: center;
    /*padding-top: 15%;*/
    padding-right:30%;
}
#add{
    text-align: center;
}
#rankhead{
    text-align: center;
}
/*.loader {*/
    /*border: 16px*/
/*}*/
/*.loader {*/
    /*border: 16px solid #f3f3f3; !* Light grey *!*/
    /*border-top: 16px solid #3498db; !* Blue *!*/
    /*border-radius: 50%;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*animation: spin 2s linear ;*/
    /*animation-iteration-count: 3;*/
/*}*/

/*@keyframes spin {*/
    /*0% { transform: rotate(0deg); }*/
    /*100% { transform: rotate(360deg); }*/
/*}*/

